body{
  background-color: rgb(198, 227, 255);

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-image: url(picture2.avif);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  
}
header{
  text-align: center;
  padding: 20px;

}

.container {
  position: relative;
 margin-top: 50px;
  padding: 25px;
   background-color: rgba(254, 255, 214, 0.719);
    border-radius: 10px;
   box-shadow: 2px 2px 3px rgb(34, 34, 26);
  
 
 }
 button{
   background-color:rgb(186, 253, 253) ;
   padding: 10px;
   padding-left: 15px;
   padding-right: 15px;
   margin-top: 10px;
   box-shadow: 1px 1px 2px rgb(255, 194, 120);
   border-radius: 5px;
 }
 
 .inbox-1 .box1 {
   display: block;
   margin: auto;
   margin: 10px;
   font-size: 15px;
   line-height: 0px;
   
 
   
 }

.inbox-1 input {
  padding: 10px;
  width: 310px;
  margin: 5px;
  border-radius: 5px;
  border-color: rgb(196, 196, 196);
  line-height: 2px;
}
.inbox-2 input{
  padding: 10px;
  width: 310px;
  margin: 5px;
  border-radius: 5px;
  border-color: rgb(196, 196, 196);
  line-height: 2px;

  
}

